:root {
    --background-primary: #040a1d;
    --color-accent: #000;
    --text-primary:#fff;
    --font-primary: Arial, sans-serif;
    --safe-frame: 1180px;
    /* --border-primary: 1px solid #151c25; */
    --border-draft: 1px solid white;
    --outline-draft: 1px solid white;
    --background-draft: grey;
}

html {
    font-size: 16px;
}

.page {
    background-color: var(--background-primary);
    max-width: 100%;
    min-width: 320px;
    margin: 0 auto;
    font-family: var(--font-primary);
    color: var(--text-primary);
    font-size: 1em;
    height: 100%;
}

.safe-frame {
    outline: 1px dotted red;
    margin: 0 auto;
    max-width: var(--safe-frame);
    box-sizing: border-box;
}

.header {
    border-bottom: var(--border-draft);
    background: var(--background-primary);
    position: sticky;
    top: 0;
}

.header .safe-frame {
    align-items: center;
    min-height: 118px;
    display: flex;
}

.company-info-container {
    outline: var(--outline-draft);
    width: 100%;
    min-height: 60px;
    display: flex;
}

.header .company-info-container {
    justify-content: space-between;
}

.company-name {
    outline: var(--outline-draft);
    background: var(--background-draft);
    min-width: 180px;
}

.company-info {
    outline: var(--outline-draft);
    display: flex;
}

.header .company-info {
    min-width: 450px;
    justify-content: space-between;
}

.company-info-item {
    outline: var(--outline-draft);
    background: var(--background-draft);
}

.header .company-info-item {
    min-width: 215px;
}

.main-screen .safe-frame {
    background: #455840;
    min-height: 1100px;
    padding-top: 188px;
}

.screen-content {
    width: 600px;
    height: 639px;
    outline: var(--outline-draft);
}

.catalog-screen .safe-frame {
    background: cornflowerblue;
    min-height: 2200px;
    flex-direction: column;
    padding-top: 25px;
}

.screen-title {
    outline: var(--outline-draft);
    background: var(--background-draft);
    width: 1035px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
}

.catalog {
    height: 1735px;
    outline: var(--outline-draft);
    margin-top: 85px;
    display: grid;
    grid-template-columns: repeat(3, 380px);
    grid-template-rows: repeat(3, 531px);
    row-gap: 70px;
    column-gap: 20px;
}

.catalog-card {
    outline: var(--outline-draft);
    border-radius: 10px;
}

.loading-screen .safe-frame {
    background: chartreuse;
    min-height: 1050px;
    justify-content: flex-end;
    padding-top: 150px;
}

.question-screen .safe-frame {
    background: darkkhaki;
    min-height: 1050px;
    padding-top: 110px;
}

.feedback-screen {
    width: 100%;
    background: #25b2dd;
    min-height: 1000px;
}

.feedback-screen .safe-frame {
    /* background: #573838; */
    min-height: 1000px;
    padding-top: 55px;
}

.portfolio-screen {
    background: #b40fca;
    min-height: 2089px;
    padding-top: 255px;
    box-sizing: border-box;
}

.portfolio {
    height: 1350px;
    outline: var(--outline-draft);
    margin-top: 85px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 633px);
    grid-template-rows: repeat(3, 443px);
    row-gap: 10px;
    column-gap: 10px;
}

.screen-paragraph {
    outline: var(--outline-draft);
    background: var(--background-draft);
    width: 1035px;
    height: 35px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-card {
    outline: var(--outline-draft);
}

.order-screen .safe-frame {
    background: cadetblue;
    min-height: 395px;
    padding-top: 70px;
}

.footer {
    background: var(--background-primary);
}

.footer .safe-frame {
    align-items: center;
    min-height: 217px;
    display: flex;
}

.footer .company-info-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer .company-info-item {
    margin-left: 40px;
}

.footer .company-info-item:first-child {
    margin-left: 0;
}
 