:root {
    --background-primary: #040a1d;
    --color-accent: #000;
    --text-primary:#fff;
    --font-primary: Arial, sans-serif;
    --safe-frame: 1180px;
    /* --border-primary: 1px solid #151c25; */
    --border-draft: 1px solid white;
    --outline-draft: 1px solid white;
    --background-draft: grey;
}

html {
    font-size: 16px;
}

.page {
    background-color: var(--background-primary);
    max-width: 100%;
    min-width: 320px;
    margin: 0 auto;
    font-family: var(--font-primary);
    color: var(--text-primary);
    font-size: 1em;
    height: 100%;
}

.safe-frame {
    outline: 1px dotted red;
    margin: 0 auto;
    max-width: var(--safe-frame);
    box-sizing: border-box;
}

.header {
    border-bottom: var(--border-draft);
    background: var(--background-primary);
    position: sticky;
    top: 0;
}

.header .safe-frame {
    align-items: center;
    min-height: 118px;
    display: flex;
}

.company-info-container {
    outline: var(--outline-draft);
    width: 100%;
    min-height: 60px;
    display: flex;
}

.header .company-info-container {
    justify-content: space-between;
}

.company-name {
    outline: var(--outline-draft);
    background: var(--background-draft);
    min-width: 180px;
}

.company-info {
    outline: var(--outline-draft);
    display: flex;
}

.header .company-info {
    min-width: 450px;
    justify-content: space-between;
}

.company-info-item {
    outline: var(--outline-draft);
    background: var(--background-draft);
}

.header .company-info-item {
    min-width: 215px;
}

.main-screen .safe-frame {
    background: #455840;
    min-height: 1100px;
    padding-top: 188px;
}

.main-screen .screen-title {
    font-weight: 800;
    font-size: 48px;
}

.screen-content {
    width: 600px;
    height: 639px;
    outline: var(--outline-draft);
    box-sizing: border-box;
}

.note {
    display: inline-block;
    min-width: 132px;
    max-width: 226px;
    height: 37px;
    border-radius: 5px;
    background: var(--background-draft);
    outline: var(--outline-draft);
    padding: 10px 22px;
    box-sizing: border-box;
}

.screen-title {
    width: fit-content;
    max-width: 1035px;
    min-height: 45px;
    outline: var(--outline-draft);
    background: var(--background-draft);
    font-size: 50px;
    letter-spacing: 1.3px;
}

.screen-content .screen-title {
    margin-top: 25px;
}

.screen-paragraph {
    max-width: 1035px;
    width: fit-content;
    min-height: 35px;
    outline: var(--outline-draft);
    background: var(--background-draft);
    font-size: 23px;
}

.screen-content .screen-paragraph {
    margin-top: 34px;
}

.btn {
    /* min-width: 277px; */
    width: fit-content;
    min-height: 88px;
    outline: var(--outline-draft);
    background: var(--background-draft);
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 52px;
    padding-right: 52px;
}

.screen-content .btn {
    margin-top: 51px;
}

.btn-area {
    display: flex;
    position: relative;
}

.btn-comment {
    margin-top: 51px;
    margin-left: 20px;
    width: fit-content;
    max-width: 135px;
    display: flex;
    align-items: center;
}

.catalog-screen .safe-frame {
    background: cornflowerblue;
    min-height: 2200px;
    flex-direction: column;
    padding-top: 17px;
}

.catalog {
    height: 1735px;
    display: grid;
    grid-template-columns: repeat(3, 380px);
    grid-template-rows: repeat(3, 531px);
    row-gap: 70px;
    column-gap: 20px;
}

.catalog-screen .screen-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.catalog-card {
    outline: var(--outline-draft);
    border-radius: 10px;
}

.image-container {
    width: 100%;
    height: 245px;
    margin-bottom: 50px;
}

.catalog-card-content {
    box-sizing: border-box;
    padding-left: 45px;
    width: 290px;
}

.catalog-card-title {
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 20px;
}

.catalog-card-paragraph {
    font-size: 18px;
    margin-bottom: 28px;
}

.catalog-card-price {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 23px;
}

.catalog .btn {
    padding-left: 40px;
    padding-right: 40px;
    min-height: 64px;
    border-radius: 5px;
}

.loading-screen .safe-frame {
    background: #4d9507;
    min-height: 1050px;
    padding-top: 150px;
    display: flex;
    justify-content: flex-end;
}

.loading-screen .screen-content {
    padding-left: 120px;
}

.question-screen .safe-frame {
    background: #7f7b49;
    min-height: 1050px;
    padding-top: 110px;
}

.question-screen .screen-paragraph {
    max-width: 427px;
    font-size: 21px;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    right: -27%;
    top: -25%;
    position: absolute;
}

.outline-transform-container {
    outline: var(--border-draft);
    transform: skewX(-7deg);
    border-radius: 4px;
}

.person-name-background-container{
    background: black;
}

.person-profession-background-container{
    background: #c9dee7;
    color: var(--color-accent);
}

.person-item {
    padding: 15px 20px;
    box-sizing: border-box;
    transform: skewX(7deg);
}

.person-name {
    font-size: 25px;
}

.person-profession {
    font-size: 20px;
}

.feedback-screen {
    width: 100%;
    background: #25b2dd;
    min-height: 1000px;
    padding-top: 47px;
    box-sizing: border-box;
}

.feedback-screen .screen-title {
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
}

.carousel {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 320px var(--safe-frame) 320px;
    column-gap: 50px;
}

.carousel-item {
    outline: var(--outline-draft);
    border-radius: 5px;
}

.carousel-item-active {
    height: 615px;
    display: flex;
    box-sizing: border-box;
    padding: 70px 142px 238px 142px;
    justify-content: space-between;
}

.carousel-item-inactive {
    height: 485px;
}

.carousel-item-text-container {
    outline: var(--outline-draft);
    width: 450px;
    height: 400px;
}

.carousel-item-person-container {
    outline: var(--outline-draft);
    width: 380px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-item-person-avatar-container {
    width: 380px;
    height: 380px;
    border-radius: 50%;
    outline: var(--border-draft);
    overflow: hidden;
}

.carousel-item-person-avatar-name {
    margin-top: 27px;
    font-size: 24px;
}

.carousel-item-person-avatar-location {
    margin-top: 10px;
    font-size: 18px;
}

.slider {
    width: 155px;
    height: 66px;
    margin: 70px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.slider-item {
    width: 66px;
}

.slider-left {
    background-image: url(./images/Arrow-left.svg);
}

.slider-right {
    background-image: url(./images/Arrow-right.svg);
}

.portfolio-screen {
    background: #b40fca;
    min-height: 2089px;
    padding-top: 246px;
    box-sizing: border-box;
}

.portfolio {
    height: 1350px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 633px);
    grid-template-rows: repeat(3, 443px);
    row-gap: 10px;
    column-gap: 10px;
}

.portfolio-screen .screen-title {
    margin-left: auto;
    margin-right: auto;
}

.portfolio-screen .screen-paragraph {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    font-size: 27px;
}

.portfolio-card {
    outline: var(--outline-draft);
}

.order-screen .safe-frame {
    background: cadetblue;
    min-height: 395px;
    padding-top: 70px;
    padding-bottom: 45px;
}

.order-screen .screen-title {
    margin-left: auto;
    margin-right: auto;
    font-size: 38px;
    font-weight: 800;
}

.order-screen .screen-paragraph {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.order-info-container {
    width: 779px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.order-info {
    display: flex;
    justify-content: space-between;
}

.order-info .btn {
    width: 380px;
}

.order-tel-form {
    min-width: 277px;
    width: 380px;
    min-height: 88px;
    outline: var(--outline-draft);
    background: var(--background-draft);
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 51px;
    padding-right: 51px;
}

.agreement-container {
    display: flex;
    margin-top: 25px;
    align-self: center;
}

.agreement-checkbox {
    width: 10px;
    height: 10px;
    border-radius: 1px;
    outline: var(--outline-draft);
    background: var(--background-draft);
}

.agreement-text {
    width: fit-content;
    max-width: 600px;
    outline: var(--outline-draft);
    background: var(--background-draft);
    margin-left: 10px;
    font-size: 12px;
}


.footer {
    background: var(--background-primary);
}

.footer .safe-frame {
    align-items: center;
    min-height: 217px;
    display: flex;
}

.footer .company-info-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer .company-info-item {
    margin-left: 40px;
}

.footer .company-info-item:first-child {
    margin-left: 0;
}
 