:root {
    --text-primary:#fff;
    --background-primary: #040a1d;
    --safe-frame: 1180px;
    --font-primary: Arial, sans-serif;
    --color-accent: #000;
}

html {
    font-size: 16px;
}

.page {
    background-color: var(--background-primary);
    max-width: 100%;
    min-width: 320px;
    margin: 0 auto;
    font-family: var(--font-primary);
    color: var(--text-primary);
    font-size: 1em;
    height: 100%;
}

.header {
    background: var(--background-primary);
    position: sticky;
    top: 0;
    min-height: 117px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #151c25;
}

.safe-frame {
    outline: 1px solid red;
    margin: 0 auto;
    max-width: var(--safe-frame);
    display: flex;
}

.header .safe-frame {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    min-height: 117px;
}

.main-screen .safe-frame {
    background: #455840;
    min-height: 6200px;
}

.portfolio {
    width: 100%;
    outline: 1px solid green;
    min-height: 2200px;
}

.footer {
    background: var(--background-primary);
    /* position: sticky;
    bottom: 0; */
    min-height: 117px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #151c25;
}
 